body {
    background-color: tomato;
}

.cintillo{
    margin-left: auto;
}


.mybutton { 
    background-color: rgb(25, 135, 84);
    color: white;
    margin-left: 0.4cm;
    margin-right: 0.4cm;
    border-radius: 8px;
    width: 160px;
    height: 45px;
}